.search-option-list
	.search-option-list__option
		span American Bobtail

	.search-option-list__option
		span American Curl

	.search-option-list__option
		span American Shorthair

	.search-option-list__option
		span American Wirehair
