.search-popup

	.container

		.search-popup__close((click)="close()")
			i.fas.fa-times

		.search-popup__search
			search-input([text]="text", [border]="true", [popup]="true")

		.search-popup__results
			.search-popup__result(*ngFor="let breed of results")
				span {{ result.name }}
