@import 'variables.scss';

.app-footer {
    padding: 1.8125rem;
    margin-top: 1.395rem;

    background: $bg-color;
    color: $secondary-color;

    border-radius: 2.625rem 2.625rem 0 0;


    @media(min-width:481px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__copyright {
            font-size: 18px;
            line-height: 22px;
        }
    }

    @media(max-width:480px) {
        &__copyright {
            font-size: 0.75rem;
            line-height: 0.914375rem;
        }
    }

    svg {
        path {
            fill: $secondary-color;
        }
    }
}
