
<div class="blog-section">
  <div class="blog-section__text">
    <custom-title text="Why should you have a cat?" size="lg"></custom-title>
    <p class="blog-section__text">Having a cat around you can actually trigger the release of calming chemicals in your body which lower your stress and anxiety leves</p>
    <p class="blog-section__cta">READ MORE<i class="blog-section__button fas fa-long-arrow-alt-right"></i></p>
  </div>
  <div class="blog-section__row">
    <div class="blog-section__column">
      <div class="blog-section__img--one">
        <custom-img data="../../../../../assets/media/img/image-1.png" alt="cat" type="square"></custom-img>
      </div>
      <div class="blog-section__img--two">
        <custom-img data="../../../../../assets/media/img/image-2.png" alt="cat" type="square"></custom-img>
      </div>
    </div>
    <div class="blog-section__column">
      <div class="blog-section__img--three">
        <custom-img data="../../../../../assets/media/img/image-3.png" alt="cat" type="square"></custom-img>
      </div>
    </div>
  </div>
</div>