.search-input([ngClass]="{'search-input--border':border}")
	label.search-input__view
		input.search-input__control(#input,
			type="text",
			[placeholder]="placeholder",
			[(ngModel)]="text",
			[ngClass]="{'search-input__control--popup':popup}",
			(keyup.arrowup)="directionKey($event)",
			(keyup.arrowdown)="directionKey($event)",
			(input)="sendText()",
			(keydown.esc)="clear()")

		.search-input__icon([ngClass]="{'search-input__icon--popup':popup}")
			i(class="fas fa-search")
