.search-input([ngClass]="{'search-input--border':border}")
	.search-input__view
		input.search-input__control(#input, type="text" placeholder="Search", [(ngModel)]="text", [ngClass]="{'search-input__control--popup':popup}", (input)="sendText()")

		.search-input__icon([ngClass]="{'search-input__icon--popup':popup}")
			i(class="fas fa-search")
