
<section>
  <div class="home-hero-section">
    <div class="home-hero-section__main">
      <div class="home-hero-section__content">
        <h1 class="home-hero-section__title" *ngIf="sizingSrv.isSm()">catwiki</h1>
        <div class="logo-container" *ngIf="!sizingSrv.isSm()"><img class="logo-container__name" src="../../../../../assets/media/svg/nameLogo.svg" alt="Cat logo"><img class="logo-container__cat" src="../../../../../assets/media/svg/catLogo.svg" alt="Cat logo"></div>
        <h3 class="home-hero-section__desc">Get to know more about your cat breed</h3>
        <div class="home-hero-section__input">
          <search-input *ngIf="!text || !sizingSrv.isSm()" (onInput)="onInput($event)"></search-input>
        </div>
        <div class="home-hero-section__result-list" *ngIf="text &amp;&amp; !sizingSrv.isSm()">
          <search-option-list *ngIf="searchResult.length" [results]="searchResult"></search-option-list>
        </div>
        <search-popup *ngIf="text &amp;&amp; sizingSrv.isSm()" [text]="text" [results]="searchResult" (onClose)="onInput('')"></search-popup>
      </div>
    </div>
  </div>
  <div class="home-hero-section-header">
    <custom-title text="Most Searched Breeds" position="bottom"></custom-title>
    <h2 class="home-hero-section-header__subtitle">66+ Breeds For you to discover</h2>
    <div class="home-hero-section-header__breeds-list">
      <div class="home-hero-section-header__breed" *ngFor="let bredd of breedList">
        <div class="home-hero-section-header__img">
          <custom-img [data]="bredd.image.url" [alt]="bredd.name"></custom-img>
        </div>
        <p class="home-hero-section-header__title">{{ bredd.name }}</p>
      </div>
    </div>
  </div>
</section>