section
	.home-hero-section

		.home-hero-section__main

			.home-hero-section__content
				h1.home-hero-section__title(*ngIf="sizingSrv.isSm()") catwiki

				.logo-container(*ngIf="!sizingSrv.isSm()")
					img.logo-container__name(src="../../../../../assets/media/svg/nameLogo.svg" alt="Cat logo")
					img.logo-container__cat(src="../../../../../assets/media/svg/catLogo.svg" alt="Cat logo")

				h3.home-hero-section__desc Get to know more about your cat breed

				.home-hero-section__input
					search-input(*ngIf="!text || !sizingSrv.isSm()", (onInput)="onInput($event)")

				.home-hero-section__result-list(*ngIf="text && !sizingSrv.isSm()")
					search-option-list
				search-popup(*ngIf="text && sizingSrv.isSm()", [text]="text", (onClose)="onInput('')")

	.home-hero-section-header
		custom-title(text="Most Searched Breeds" position="bottom")

		h2.home-hero-section-header__subtitle 66+ Breeds For you to discover

		.home-hero-section-header__breeds-list
			.home-hero-section-header__breed(*ngFor="let bredd of breedList")
				.home-hero-section-header__img
					custom-img([data]="bredd.src", [alt]="bredd.text")

				p.home-hero-section-header__title {{ bredd.text }}
