* ::-webkit-scrollbar {
    width: 8px;
}

* ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #ccc;
}

*::-webkit-scrollbar-thumb:hover {
    background: #ccc;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
