// Monserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

// Mystery Quest
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');


$monserrat:'Montserrat',
sans-serif;

$mystery-quest:'Mystery Quest',
cursive;

// weight
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;
